@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-weight: 800;
  font-size: 72px;
}

h2 {
  font-weight: 700;
  font-size: 48px;
}

.detailedtex {
  font-size: 14px;
}
